@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swa');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html, body {
    height: 100%;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #98c5e9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav li {
    margin-left: 15px;
}

section {
    text-decoration: none;
    color: #fffffd;
    font-size: 2.5rem;
    padding: 10px 15px;
    border-radius: 5px;
    text-shadow: 2px 2px 2px #000000;
}

nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.4s;
}

nav li a:hover {
    background-color: white;
    color: #001838;
}

.content {
    flex-grow: 1;
}

footer {
    background-color: #98c5e9;
    padding: 30px;
    text-align: center;
    color: azure;
    margin-top: auto;
}

.patrocinios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.barra {
    width: 2px;
    height: 60px;
    background-color: #fff;
    margin-right: 20px;
}

.logo-puma {
    width: 80px;
    margin-right: 20px;
}

.logo-etihad {
    width: 100px;
}

.login {
    background-color: #001838;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.login input{
    padding: 20px;
    border: none;
    outline: none; 
    font-size: 20px;
}

.login button{
    background-color: #98c5e9;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px ;
    color: white
}

.alogin{
    color: white;
}

.registro{
    background-color: #001838;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.registro input{
    padding: 8px;
    border: none;
    outline: none; 
    font-size: 20px;
}

.registro button{
    background-color: #98c5e9;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px ;
    color: white
}

.content{
    margin-top: 10px;
}

.fundo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-image: url("../imagens/fa-cup-winners-22-23-web-desktop-header.jpg");
    width: 100%;
    height: 378px;
    margin-bottom: 5px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }